*, *:before, *:after {
    box-sizing: border-box;
  }

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
}

.image-box {
    text-align: center;
    margin: 0px;
    width: 600px;
}

img {
    border-radius: 16px;
    max-width: 100%;
    margin: 0px;
}

h1 {
    font-size: 80 px;   
    text-align: center;
    width: 600px;
}

a {
    text-align: center;
}

.main {
    padding: 20px 20px;
    background-color: azure;
}

li {
    font-size: 16px;
}

.ingredients {
    background-color: bisque;
}

.steps {
    background-color: beige;
}

.ingredients, .steps, .description {
    width: 600px;
    margin: 8px;
    padding: 20px;
    border-radius: 16px;
}

div {
    padding: 20px;
}

.description {
    background-color: blanchedalmond;
    font-weight: 300;
}

p {
    font-size: 16px;
}

li {
    padding: 5px;
}